* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
.top {
    width: 100%;
    height: 75px;
    padding: 10px;
    position: fixed;
    z-index: 5;
    background-color: #010101;
    opacity: 0.8;
}

.left ul {
    position: relative;
    left: -150px;
    top: -40px;
}

.left ul li {
    /*横向排列*/
    display: inline-block;
    color: #fff;
    margin-left: 25px;
    font-size: larger;
    transition: all 0.5s;
}

.left ul a li:hover {
    content: '';
    position: relative;
    top: 5px;
    border-top: 6px solid skyblue;
    z-index: 99;
}

.right {
    width: 22%;
    top: -75px;
    float: right;
    position: relative;
}

.right ul li {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    font-size: larger;
    transition: all 0.5s;
}

.right ul a li:hover {
    content: '';
    position: relative;
    top: 5px;
    border-top: 6px solid skyblue;
    z-index: 99;
}

.image {
    position: relative;
    top: 30px;
    left: 50px;
}

.image:hover {
    filter: brightness(5);
}

.right img {
    position: relative;
    top: 6px;
}

/*main*/
table {
    position: relative;
    top: -120px;
    left: 550px;
    border: none;
}

.image1 {
    position: absolute;
    top: 760px;
    left: 20px;
    cursor: pointer;
}

.image2 {
    position: absolute;
    top: 80px;
    right: 20px;
    cursor: pointer;
}

.download img {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.5s;
}

.download img:hover {
    opacity: 1;
    /*图片悬停时发亮*/
    filter: brightness(1.5);
}

.title {
    position: relative;
    top: 1000px;
    font-size: 30px;
    color: #69e0ff;
    line-height: 40px;
    text-align: center;
}

.image3 {
    position: relative;
    top: 620px;
    left: 650px;
    width: 361px;
    height: 77px;
}

/*背景音乐*/
.play {
    position: absolute;
    left: 806px;
    top: 633px;
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-image: url(../images/开始.png);
}

.video {
    position: relative;
    top: 1000px;
    left: 220px;
    width: 1200px;
    max-width: 1200px;
    /*视频边框圆角*/
    border-radius: 20px;
}

.bgvideo video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -1;
}

/*footer*/
#footer {
    position: relative;
    top: 1000px;
}

.footer {
    width: 100%;
    background-color: #000;
    color: #999;
}

.footer .list {
    width: 60%;
    text-align: center;
    /*文本间距*/
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    left: 420px;
    top: 10px;
}

.footer .list ul li {
    display: inline;
    margin-left: 14px;
}

.footer .list ul li:hover {
    cursor: pointer;
}

.footer .logo {
    width: 40%;
    position: relative;
    right: 50px;
    top: 50px;
    text-align: center;
}

.image4 {
    margin-bottom: -28px;
    margin-left: 50px;
}

.sign {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #111111;
    border-bottom: 2px solid slategrey;
}

.sign1 img {
    position: relative;
    left: -35px;
    width: 40px;
    opacity: 0.6;
    margin-top: 5px;
    margin-left: 80px;
    transition: all 0.5s;
}

.sign1 img:hover {
    opacity: 1;
    cursor: pointer;
    filter: brightness(1.5);
}

.content {
    position: relative;
    top: -40px;
    left: 520px;
    width: 52%;
    font-size: 14px;

}

.bottom {
    position: relative;
    top: -10px;
    left: 310px;
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom div {
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #000;
}